target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_StoreCredentials
OAuth client ID
OAuth consent screen
src/main/java/services/SentimentAnalysisService.java
src/main/java/services/SmsService.java
src/main/java/services/TestSms.java
src/main/java/services/UtilisateurService/GoogleOAuthService.java
src/main/java/services/UtilisateurService/SmsService.java
src/main/java/services/api/ApiKeys.java
src/main/resources/config.properties
